*{
    height: auto;
    width: auto;

}

.title{
    background-color: black;
    text-decoration: none;
}

.navbar{
    background-color: greenyellow;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    
}

.menu{
    display: flex;
}

.menuItems{
    list-style: none;
    display: flex;
    background-color: black;
    gap: 50px;
    & a{
        font-size: 25px;
        text-decoration: none;
    }
}